.formWrapper_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.formBlock {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.addPost_btn {
  width: 200px;
  height: 45px;
  background-color: #88dea2;
  transition: 0.3s;
}

.addPost_btn:hover {
  background-color: #fff;
}
