
.main__inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  margin-bottom: 150px;
}

.form_block {
  margin-bottom: 30px;
}

.post_title {
  margin-top: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.post_title h2 {
  font-size: 54px;
}

.post_title p {
  font-size: 20px;
}

.confirm_btn {
  width: 200px;
  height: 45px;
  background-color: #88dea2;
  transition: 0.3s;
}

.confirm_btn:hover {
  background-color: #fff;
}
